#menu {
    background: #ff8800;
}

#flex {
    column-count: 2;
    column-gap: 3rem;
    column-rule: 1px solid #bbb;
    column-width: 350px;
    column-fill: auto;
}

.bg-all {
    background-color: #ff880070;
}

footer {
    background: #ff8800;
    min-height: 100px;
}

footer p {
    color: #f3f3f3;
    text-align: center;
}

#iconos i {
    font-size: 26px;
    padding: 0 8px;
    color: #f3f3f3;
}

.container {
    height: auto;
}